@use "../abstracts/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --page-gutter: 6.25rem;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  text-wrap: nowrap;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  text-wrap: nowrap;
}

select {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}

[class$="__container"] {
  width: 100%;
  max-width: none !important;
  padding-left: var(--page-gutter);
  padding-right: var(--page-gutter);
}
